/* nosotros */
h2 {
  color: #100447 !important;
  font-weight: bold;
  font-size: 4.5vw; }

.container__nosotros {
  max-width: 80%;
  text-align: left;
  margin-bottom: 15vh; }
  .container__nosotros__slide {
    align-self: center; }

p {
  text-align: left;
  font-size: 1.5vw; }

.container__footer {
  background-color: rgba(17, 4, 72, 0.75);
  margin-top: 5vh; }
  .container__footer__logo {
    padding: 2vh; }
  .container__footer__logo__cierre {
    width: 100px; }
  .container__footer__texto {
    color: white !important;
    text-align: center;
    -webkit-user-modify: read-write-plaintext-only; }

.container__tratamientos {
  max-width: 80%; }
  .container__tratamientos__parrafo {
    color: #100447 !important;
    font-weight: normal;
    font-size: 2vw; }
  .container__tratamientos__info__foto {
    width: 90%;
    border-radius: 10px;
    margin: 2.5vw 0;
    z-index: 1;
    position: relative; }
  .container__tratamientos__info__parrafo {
    font-weight: normal;
    color: #100447 !important;
    font-size: 2vw;
    width: 90%;
    padding-top: 2vw; }

span {
  font-size: 2vw; }

h3 {
  color: #397b92 !important;
  font-weight: bold;
  font-size: 4.5vw;
  text-align: left; }

.tratamiento {
  color: white !important;
  font-weight: bold;
  font-size: 2vw;
  z-index: 150;
  position: absolute; }

.row {
  overflow: hidden; }

.container {
  position: relative;
  color: white; }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.top-left {
  position: absolute;
  top: 8px;
  left: 16px; }

.top-right {
  position: absolute;
  top: 8px;
  right: 16px; }

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white !important;
  font-weight: bold;
  font-size: 4vw; }

/* opciones modal*/
.btn:focus {
  display: none; }

.centered:hover {
  color: #397b92 !important; }

h5 {
  font-size: 4vw;
  color: white !important;
  text-transform: uppercase; }

b {
  color: white !important; }

.modal-content {
  background-color: #297b97; }

.textoModal {
  color: white !important;
  justify-self: left;
  font-weight: normal; }

.btn-tratamientos {
  background-color: white; }

* {
  font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
  font-weight: bold;
  color: #297b97 !important;
  font-size: 20px; }

.bienvenidos {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 20vh; }

.container {
  max-width: 80%;
  padding: 0;
  margin-top: 2vh;
  margin-bottom: 2vh; }
  .container__logo {
    width: 200px; }
  .container__nav {
    justify-content: space-between;
    margin-left: 8vw;
    align-self: self-end; }
  .container__navbar {
    position: fixed;
    width: 80%;
    background-color: white;
    z-index: 1000; }
  .container__numeros {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-evenly; }
  .container__numeros__whatsapp {
    width: 30px;
    color: #297b97 !important; }
  .container__numeros__telefono {
    width: 28px; }

.container-fluid {
  justify-content: unset;
  padding: 0; }

.hero {
  text-align: -webkit-center; }

.container__fondo {
  margin-bottom: 15vh;
  max-width: 80%;
  text-align: center;
  justify-content: center;
  content-visibility: auto; }
  .container__fondo__overlay {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 564px;
    position: absolute;
    z-index: 10; }
  .container__fondo__img {
    z-index: -100;
    position: relative;
    max-height: 564px;
    top: 10vh; }
    .container__fondo__img__arboles {
      width: 100%; }
  .container__fondo__logo {
    z-index: 100;
    width: 20vw; }
  .container__fondo h1 {
    font-weight: bold;
    z-index: 100;
    color: #100447 !important;
    font-size: 5vw; }

h4 {
  color: #100447 !important;
  font-weight: bold;
  font-size: 3vw;
  text-align: left; }

.labelcontacto {
  color: #100447 !important; }

.container__btn {
  text-align: -webkit-right; }

.btnEnviar {
  width: 40%;
  color: #100447 !important;
  font-weight: bold;
  background-color: #397b92;
  border: none; }

.container__contacto {
  background-color: rgba(57, 123, 147, 0.74);
  width: 100%;
  justify-content: center; }
  .container__contacto__row {
    max-height: 80%;
    max-width: 80%;
    margin: auto;
    padding: 4vh 0;
    text-align: start; }
  .container__contacto__boxlogo {
    align-self: center; }
    .container__contacto__boxlogo__logo {
      width: 90%; }

.formulario {
  text-align: left; }

@media only screen and (min-width: 1300px) {
  .bienvenidos {
    top: 13vh; }
  .container__nav {
    margin-left: 12vw; }
  .container__fondo {
    margin-bottom: 8vh; }
  .container__nosotros {
    margin-bottom: 8vh; } }

@media only screen and (max-width: 992px) {
  header {
    text-align: center; }
  .container {
    text-align: -webkit-center; }
  .navbar-toggler {
    display: none; }
  .container__navbar {
    position: relative; }
  .container__fondo {
    margin: 0; }
    .container__fondo__img {
      top: 0;
      margin-bottom: 2vh; }
  p, .container__tratamientos__parrafo, .container__tratamientos__info__parrafo, span {
    font-size: 2.5vw; }
  .bienvenidos {
    top: 10vh; }
  .container__nosotros {
    margin-bottom: 4vh; } }

@media only screen and (max-width: 600px) {
  .navbar-toggler {
    display: none; }
  .container__numeros__whatsapp {
    width: 25px; }
  .container__numeros__telefono {
    width: 23px; }
  .container__navbar {
    position: unset;
    display: inline; }
  .navbar-light .navbar-toggler {
    color: #297b97 !important; }
  .container__nav {
    text-align: center;
    margin: 0; }
  .container__nosotros {
    margin-bottom: 4vh; }
  .container__fondo {
    margin-bottom: 4vh;
    max-width: 80%;
    text-align: center;
    justify-content: center;
    content-visibility: auto;
    height: 180px; }
    .container__fondo__img {
      top: 0; }
  .bienvenidos {
    top: 7vh; }
  .container__fondo__overlay {
    height: 176px; }
  p, .container__tratamientos__parrafo, .container__tratamientos__info__parrafo {
    font-size: 2.5vw; }
  h4 {
    font-size: 7vw;
    text-align: center; }
  .container__contacto__boxlogo__logo {
    margin-bottom: 1vh; }
  .container__footer__texto {
    font-size: 3vw; }
  .container__footer__logo__cierre {
    width: 120px; } }
