
.container__footer {
    background-color: hsla(251, 89%, 15%, 0.75);
    margin-top: 5vh;
    
    &__logo {
        padding: 2vh;   
        display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    }
    &__logo__cierre {
        width: 100px;
    }
    &__texto {
        color: white !important;
        text-align: center;
    }
    #mapa{
        border-radius: 10px;
    }
}