.container__tratamientos {
  max-width: 80%;
}

h3 {
  color: #397b92 !important;
  font-weight: bold;
  font-size: 4.5vw;
  text-align: left;
}

label {
  color: white !important;
  font-weight: bold;
  font-size: 2vw;
  z-index: 150;
  position: absolute;
}

.tratamiento__1, .tratamiento__2 {
  -webkit-transform: translate(11vw, 36vh);
          transform: translate(11vw, 36vh);
}

.tratamiento__3, .tratamiento__4 {
  -webkit-transform: translate(8vw, 36vh);
          transform: translate(8vw, 36vh);
}

.tratamiento__5 {
  -webkit-transform: translate(7vw, 36vh);
          transform: translate(7vw, 36vh);
}

.container__tratamientos__parrafo {
  color: #100447 !important;
  font-weight: normal;
  font-size: 2vw;
}

.row {
  overflow: hidden;
}

.container__tratamientos__info__foto {
  width: 90%;
  border-radius: 10px;
  margin: 2.5vw 0;
  z-index: 1;
  position: relative;
}

.container__tratamientos__info__parrafo {
  font-weight: normal;
  color: #100447 !important;
  font-size: 1.95vw;
  width: 90%;
  padding-top: 2vw;
}

.capaOpacidad {
  background-color: #100447;
  opacity: 0.3;
  position: absolute;
  z-index: 10;
  height: 68vh;
  width: 34.5vw;
  -webkit-transform: translateX(2vw) translateY(5.3vh);
          transform: translateX(2vw) translateY(5.3vh);
  border-radius: 10px;
}
