.container__tratamientos {
  max-width: 80%;
}

h3 {
  color: #397b92 !important;
  font-weight: bold;
  font-size: 4.5vw;
  text-align: left;
}

.tratamiento {
  color: white !important;
  font-weight: bold;
  font-size: 2vw;
  z-index: 150;
  position: absolute;
}

.container__tratamientos__parrafo {
  color: #100447 !important;
  font-weight: normal;
  font-size: 2vw;
}

.row {
  overflow: hidden;
}

.container__tratamientos__info__foto {
  width: 90%;
  border-radius: 10px;
  margin: 2.5vw 0;
  z-index: 1;
  position: relative;
}

.container__tratamientos__info__parrafo {
  font-weight: normal;
  color: #100447 !important;
  font-size: 1.95vw;
  width: 90%;
  padding-top: 2vw;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  color: white !important;
  font-weight: bold;
  font-size: 1.95vw;
}
